<a href="https://colab.research.google.com/github/mosesard14/Praktikum-Alpro-Week-13-Moses-Putra-Nidji-Ardiansyah-71241161/blob/main/Latihan_Mandiri_12_2_71241161.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
data = ('Moses Putra Nidji', '71241161', 'Pati, Jateng')

print('NIM    :', data[1])
print('NAMA   :', data[0])
print(f'ALAMAT : {data[2]}\n')

nim_tuple = tuple(data[1])
print(f'NIM : {nim_tuple}\n')

nama_depan = data[0].split()[0]
nama = nama_depan[1:]
nama_depan_tuple = tuple(nama)
print(f'NAMA : {nama_depan_tuple}\n')

nama_terbalik = tuple(data[0].split()[::-1])
print('NAMA TERBALIK:',nama_terbalik)

NIM    : 71241161
NAMA   : Moses Putra Nidji
ALAMAT : Pati, Jateng

NIM : ('7', '1', '2', '4', '1', '1', '6', '1')

NAMA : ('o', 's', 'e', 's')

NAMA TERBALIK: ('Nidji', 'Putra', 'Moses')